@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #002C63;
  ;
}

body {
  color: #002C63;      /* Tailwind custom color class 'shark-blue' */     
  background: #ffffff;            
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.6; 
}

